<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description"
    content="We are providing a starter template for create node mongoose mvc to start the project easily." />

  <meta name="keywords" content="node, mongoose, mvc, starter, template, nodejs, express, mongodb, mongoose, ejs" />

  <link rel="shortcut icon" href="https://raw.githubusercontent.com/THK-S-SOFTWARE/mongoose-mvc/main/public/ts-node.svg" type="image/x-icon">

  <script src="https://cdn.tailwindcss.com"></script>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />

  <title>Starter Template Node Mongoose</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    body {
      font-family: 'Poppins', sans-serif;
    }
  </style>
  
</head>

<body class="bg-black">
  <div class="flex flex-col justify-center items-center h-screen">
    <div class="mb-8">
      <div class="w-72 md:w-80 ">
        <img src="https://raw.githubusercontent.com/THK-S-SOFTWARE/mongoose-mvc/main/public/ts-node.svg" />
      </div>
    </div>
    <h1 class="flex justify-center items-center text-center text-[24px] lg:text-5xl text-white">Welcome To Starter Template
    </h1>
    <h1 class="flex justify-center items-center text-center text-[24px] lg:text-5xl text-white mt-2">Node Mongoose With MVC
    </h1>
    <span class="text-white mt-[16px]">Developed by - <a href="https://github.com/kiron0" target="_blank"
        class="text-accent font-semibold text-lg">Toufiq Hasan
        Kiron</a></span>
    <div class="flex flex-col justify-center items-center gap-3">
      <!-- <div class="flex flex-col justify-center items-center gap-3 py-4 ">
        <a class="text-white btn btn-primary px-8" href="/api_docs">API DOCUMENTATION</a>
        <a class="text-white btn px-12" href="/api_routes">API ENDPOINTS/ROUTES</a>
      </div> -->
      <a href="https://github.com/THK-S-SOFTWARE" target="_blank" class="btn bg-green-700 hover:bg-green-700 border-green-700 hover:border-green-700 w-52 mt-6 mb-3 text-white">Follow us on GitHub</a>
    </div>
</body>

</html>