<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description"
                    content="We will provide a medium where companies and applicants can connect with each other." />
          <link rel="shortcut icon" href="https://i.ibb.co/ZgpJZ4p/logo-gadgets-modified.png" type="image/x-icon">
          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
          <title>Home - Blood Bucket API</title>
          <style>
                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

                    body {
                              font-family: 'Poppins', sans-serif;
                    }
          </style>
</head>

<body class="bg-black">
          <div class="flex flex-col justify-center items-center h-screen">
                    <div class="avatar mb-8">
                              <div
                                        class="w-60 md:w-72 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                                        <a href="https://blood-bucket.vercel.app/" target="_blank">
                                                  <img src="https://i.ibb.co/QPvDxvv/logo-gadgets.jpg" />
                                        </a>
                              </div>
                    </div>
                    <h1 class="flex justify-center items-center text-2xl lg:text-5xl text-white">Hello, Blood Bucket
                              API
                    </h1>
                    <span class="text-white mt-[20px]">Developed by - <a href="https://github.com/kiron0"
                                        target="_blank" class="text-accent font-semibold text-lg">Toufiq Hasan
                                        Kiron</a></span>
                    <a href="https://github.com/kiron0" target="_blank" class="btn btn-primary w-52 mt-8 mb-3">Follow me
                              On
                              GitHub</a>
                    <a href="https://blood-bucket.vercel.app/" target="_blank" class="btn btn-neutral w-44">Live Client
                              Site</a>
          </div>
</body>

</html>